

//colors

$headerTextcolor: #e4e2da;

$navbarTextColor: #e4e2da;

$navbarBackground: #333;

$navbarBackgroundHover: rgb(77, 77, 77);

$navbarBackgroundActive: rgb(39, 39, 39);

$bodyTextColor:  rgb(20, 20, 20);

$bodyBackgroundColor: rgb(228, 226, 218);

$marginColor: rgb(36, 52, 30);

$shadowColor: #17171a;

$sectionBorderColor: #bebebe;


