

// colors


$notQuiteWhite: #efeae8;

$youRed: #ff0000;

$youNotQuiteBlack: #282828;

$youFadedRed: #eb9696;

$myPurple: #7f00eb;

$myBlue: #73abed;

$shadowColor: #35353b;

$navbarBackground: #333;

$navbarBackgroundHover: rgb(77, 77, 77);

$navbarBackgroundActive: rgb(39, 39, 39);
