

//colors

$headerTextcolor: rgb(168, 58, 58);

$navbarTextColor: rgb(228, 226, 218);

$navbarBackground: #333;

$navbarBackgroundHover: rgb(77, 77, 77);

$navbarBackgroundActive: rgb(39, 39, 39);

$bodyTextColor:  rgb(20, 20, 20);

$bodyBackgroundColor: rgb(228, 226, 218);

$marginColor: rgb(36, 52, 30);

$shadowColor: #17171a;


// M7 Butler page Pattern Library colors

$m7mainPurple: #43125F;

$m7bodyGrey: #444;

$m7darkerGrey: #333;

$m7butlerBrown: #B99C6B;

$m7notesGrey: #EFEFEF;

$m7codeNtableGrey: #E0E0E0;

$m7tablePurple: #4A176C;

$m7black: #000;

$m7white: #fff;
